.topRightButton {
    font-size: 30px;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.consoleButton_basicStyles {
    border: 1px solid rgba(255, 255, 255, 0.082);
    border-radius: 5px;
}
.consoleButton_basicStyles.active {
    background-color: var(--color-d);
    border: 1px solid var(--color-d);
}
.consoleButton_reaction {
    box-shadow: 
        -1px -1px 2px rgba(136, 136, 136, 0.068), 
        1px 1px 2px rgba(0, 0, 0, 0.301),
        inset 1px 1px 2px rgba(82, 69, 69, 0.39),
        inset -1px -1px 4px rgba(0, 0, 0, 0.089);
    /* box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.445); */
    transition: 100ms ease;
}

.consoleButton_reaction:hover {
    background-color: var(--color-d);
    transition: 100ms ease;
}

.consoleButton_reaction:active {
    /* background-color: var(--orange-default); */
    transition: 100ms ease;
}