@import url('@/assets/css/ui/buttons.css');
@import url('@/assets/css/ui/boardStyles.css');
@import url('@/assets/css/ui/iconStyles.css');

:root {
    --page-padding: clamp(5px, 1.5vw, 30px);
    --console-height: 180px;
}


.bastardAppContainer {
    padding: var(--page-padding);
    /* border: 1px solid var(--color-d); */
    /* box-shadow:  0 0 10px rgba(0, 0, 0, 0.514), inset 0 0 10px rgba(43, 43, 43, 0.514); */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: min(var(--page-padding), 10px);
    /* background-color: #140f0f27; */
}

@media (hover: none){

    @media (orientation:portrait){
        .bastardAppContainer {
            width: 100vw;
            height: 100vh;
        }
    }

    @media (orientation:landscape) {
        .bastardAppContainer {
            max-width: 100vh;
            height: 100vw;
        }
    }
}
@media (hover: hover){

    .bastardAppContainer {
        width: 100vw;
        height: 100vh;
    }
}

