@import url('@/assets/css/ui/buttons.css');
@import url('@/assets/css/ui/boardStyles.css');
@import url('@/assets/css/ui/iconStyles.css');

:root {
    --page-padding: clamp(5px, 1.5vw, 30px);
    --console-height: 180px;
}


.bastardAppContainer {
    height: 100vh;
    padding: var(--page-padding);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: var(--page-padding);
}
