:root {
    --red-light: #9b341a;
    --red-default: #6F2513;
    --red-dark: #4b1a0d;

    --orange-light: #a85b24;
    --orange-default: #8D4612;
    --orange-dark: #5f390c;

    --green-light: #26948b;
    --green-default: #1A726A;
    --green-dark: #124e49;

    --color-a: #bfbdb7;
    --color-b: #706555;
    --color-c: #3F3B36;
    --color-d: #34312C;
    --color-e: #333333;

    --backdrop: #3F3B36;
}

body {
    /* background-color: var(--color-e); */

    /* background-color: rgb(31, 31, 31); */
    /* background-color: #333333; */
    
    background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
    background: radial-gradient(circle, rgb(22, 31, 29) 0%, rgb(31, 31, 31) 100%);
}

.boardColor {
    background-color: var(--color-a);
    box-shadow: inset 0px 0px 10px rgb(54, 37, 37);
}
.consoleColor {
    background-color: var(--color-c);
    border: 2px solid #4b3b3057;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.432);
    /* background-image: url("https://www.transparenttextures.com/patterns/brilliant.png"); */
    
}

* {
    color: var(--color-e);
}

.lightText {
    color: var(--color-a);
}

.backdropColor {
    background-color: var(--backdrop);

}
.backdropBlur {
    backdrop-filter: blur(2px);
}
