:root {
    --red-light: #9b341a;
    --red-default: #6F2513;
    --red-dark: #4b1a0d;

    --orange-light: #a85b24;
    --orange-default: #8D4612;
    --orange-dark: #5f390c;

    --green-light: #26948b;
    --green-default: #1A726A;
    --green-dark: #124e49;

    --color-a: #bfbdb7;
    --color-b: #706555;
    --color-c: #3F3B36;
    --color-d: #34312C;
    --color-e: #333333;

    --backdrop: #333333be;
}

body {
    background-color: var(--color-c);
}

.boardColor {
    background-color: var(--color-a);
}

* {
    color: var(--color-e);
}

.lightText {
    color: var(--color-a);
}

.backdropColor {
    background-color: var(--backdrop);

}
.backdropBlur {
    backdrop-filter: blur(2px);
}
